VITE_API_BASE_URL=https://app.vorachoice.store
VITE_TELEGRAM_AUTH_PATH=/auth/auth/telegram
VITE_TOKEN_REFRESH_PATH=/auth/refresh_accessToken
VITE_USE_MOCKS=false
VITE_ACCESS_TOKEN=
VITE_REFRESH_TOKEN=
VITE_TELEGRAM_INIT_DATA=
